<!DOCTYPE html>
<html lang=”en”>
<head>
<title></title>
</head>
  <style>
    body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Avenir', sans-serif; 
  color: #33475b;    
}

/* Centered Image Code */

img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  </style>
<body>
<h1>Website running on  Elastic Beanstalk </h1>
<!--Centered Image Start-->
<img width="400" src="/static/aws-elastic-beanstalk-1.svg" alt="Guys in the Cloud logo">
<!--Centered Image End--> 
</body>
</html>

